!!!
%html{:style => "font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"}
  %head
    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :css

      body {
        margin: 0;
        padding: 0;
      }
      img {
        border: 0 !important;
        outline: none !important;
      }
      p {
        Margin: 0px !important;
        Padding: 0px !important;
      }
      table {
        border-collapse: collapse;
        mso-table-lspace: 0px;
        mso-table-rspace: 0px;
      }
      td, a, span {
        border-collapse: collapse;
        mso-line-height-rule: exactly;
      }
  %body{:bgcolor => "#f6f6f6", :itemscope => "", :itemtype => "http://schema.org/EmailMessage", :style => "font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em; background-color: #f6f6f6; margin: 0;"}

    %table.em_full_wrap{:align => "center", :bgcolor => "#efefef", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td{:align => "center", :valign => "top"}
          %table.em_main_table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width:650px; table-layout:fixed;", :width => "650"}
            %tr
              %td.em_aside10{:align => "center", :style => "padding:0 25px;", :valign => "top"}
                %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td.em_h20{:height => "26", :style => "height:26px;"}  
                  %tr
                    %td{:align => "right", :valign => "top"}
                      %a{:href => "#", :style => "text-decoration:none;", :target => "_blank"}
                        -#=image_tag('/img/logo_alectrico.png', :alt => "Logo Aléctrico", :order => "0", :height => "100", :style => "display:block; font-family:Arial, sans-serif; font-size.18px; line-height:25px; text-align:center, color:#1d4685; font-weight:bold; max-width:208px;", :width => "100",:class => 'em_w150')
                  %tr
                    %td.em_h20{:height => "28", :style => "height:28px;"}  
    %table.em_full_wrap{:align => "center", :bgcolor => "#efefef", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td.em_aside5{:align => "center", :valign => "top"}
          %table.em_main_table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width:650px; table-layout:fixed;", :width => "650"}
            %tr
              %td.em_aside10{:align => "center", :style => "padding:0 25px; background-color:#ffffff;", :valign => "top"}
                %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td.em_h10{:height => "55", :align => "center", :style => "height:55px;"}
                      = image_tag('/img/logo_alicate.png', :alt => "", :border => "0", :height => "35", :style => "display:block; max-width:150px;", :width => "auto")
                  %tr
                    %td{:align => "center", :valign => "top"}
                      = image_tag('/img/chispeza.png',:class => "Un Cliente de Aléctrico Requiere Sus Servicios", :border => "0", :height => "auto", :style => "display:block; max-width:380px; font-family:Arial, sans-serif; font-size:17px; line-height:20px; color:#000000; font-weight:bold;", :width => "380")
                  %tr
                    %td.em_h20{:height => "22", :style => "height:22px;"}  
                  %tr
                    %td.em_blue.em_font_22{:align => "center", :style => "font-family: Arial, sans-serif; font-size: 26px; line-height: 29px; color:#264780; font-weight:bold;", :valign => "top"} CHISPEZA
                  %tr
                    %td{:height => "15", :style => "height:15px; font-size:0px; line-height:0px;"}  
                  %tr
                    %td.em_grey{:align => "center", :style => "font-family: Arial, sans-serif; font-size: 16px; line-height: 22px; color:#434343;", :valign => "top"}
                      Aléctrico le regala Chispeza: un crédito gratuito 
                      %br/
                      que puede agregar a su carro cuando recargue.
                      %br/
                  %tr
                    %td{:height => "15", :style => "height:15px; font-size:1px; line-height:1px;"}  
                  -#r
                    %td.em_grey{:align => "center", :style => "font-family: Arial, sans-serif; font-size: 16px; line-height: 22px; color:#434343;", :valign => "top"}
                      %strong Token #:
                      %span{:style => "color:#da885b; text-decoration:underline;"} 123456789
                      %span.em_hide2  | 
                      %span.em_mob_block
                      %strong Vence:
                      Octubre 30, 2019
                  %tr
                    %td{:height => "20", :style => "height:20px; font-size:1px; line-height:1px;"}  
                  %tr
                    %td{:align => "center", :valign => "top"}
                      %table{:align => "center", :bgcolor => "#6bafb2", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width:145px; background-color:#6bafb2; border-radius:4px;", :width => "145"}
                        %tr
                          %td.em_white{:align => "center", :height => "42", :style => "font-family: Arial, sans-serif; font-size: 16px; color:#ffffff; font-weight:bold; height:42px;", :valign => "middle"}
                            %a{:href => "https://shop.alectrico.cl/recarga", :style => "text-decoration:none; color:#ffffff; line-height:42px; display:block;", :target => "_blank"} Recargar Saldo
                  %tr
                    %td.em_h10{:height => "40", :style => "height:40px;"}  
            %tr
              %td.em_h10{:height => "15", :style => "height:15px; font-size:1px; line-height:1px;"}  
            %tr
              %td.em_aside10{:align => "center", :style => "padding:0 50px; background-color:#ffffff;", :valign => "top"}
                %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td.em_h10{:height => "35", :style => "height:35px;"}  
                  %tr
                    %td.em_grey{:align => "center", :style => "font-family: Arial, sans-serif; font-size: 18px; line-height: 22px; color:#434343; font-weight:bold;", :valign => "top"} IMPORTANTE:
                  %tr
                    %td{:height => "10", :style => "height:10px; font-size:1px; line-height:1px;"}  
                  %tr
                    %td.em_grey{:align => "center", :style => "font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color:#434343;", :valign => "top"}
                      Una Recarga sirve para:
                      %br/
                      %p= "----------   UN DATO DE CONTACTO -------------"
                      %br/
                  %tr
                    %td{:height => "20", :style => "height:20px; font-size:1px; line-height:1px;"}  
                  %tr
                    -#%td{:bgcolor => "#efefef", :height => "1", :style => "height:1px; background-color:#efefef; font-size:0px; line-height:0px;"}
                      %img{:alt => "", :border => "0", :height => "1", :src => "/assets/pilot/images/templates/spacer.gif", :style => "display:block;", :width => "1"}/
                  %tr
                    %td.em_h20{:height => "25", :style => "height:25px; font-size:1px; line-height:1px;"}  
                  %tr
                    %td{:align => "center", :valign => "top"}
                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                        %tr
                          %td{:valign => "top"}
                            %table.em_wrapper{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width:120px;", :width => "120"}
                              %tr
                                %td{:align => "center", :valign => "top"}
                                  = image_tag('/img/compra_de_creditos.png', :border => "0", :height => "120", :style => "display:block; max-width:120px; font-family:Arial, sans-serif; font-size:17px; line-height:20px; color:#000000; font-weight:bold;", :width => "120")
                            %table.em_hide{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width:25px;", :width => "25"}
                              %tr
                                %td.em_hide{:align => "left", :style => "width:25px;", :valign => "top", :width => "25"}  
                            %table.em_wrapper{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width:405px;", :width => "405"}
                              %tr
                                %td{:height => "16", :style => "height:16px; font-size:1px; line-height:1px;"}  
                              %tr
                                %td.em_grey{:align => "left", :style => "font-family: Arial, sans-serif; font-size: 18px; line-height: 22px; color:#434343; font-weight:bold;", :valign => "top"} Recarga de Saldo
                              %tr
                                %td{:height => "13", :style => "height:13px; font-size:1px; line-height:1px;"}  
                              %tr
                                %td.em_grey{:align => "left", :style => "font-family: Arial, sans-serif; font-size: 16px; line-height: 20px; color:#434343;", :valign => "top"}
                                  Cantidad:
                                  %span{:style => "color:#da885b; font-weight:bold;"} 1
                              %tr
                                %td{:height => "13", :style => "height:13px; font-size:1px; line-height:1px;"}  
                              %tr
                                %td.em_grey{:align => "left", :style => "font-family: Arial, sans-serif; font-size: 16px; line-height: 20px; color:#434343;", :valign => "top"}
                                  Precio ($):
                                  %span{:style => "color:#da885b; font-weight:bold;"} $5.000
                  %tr
                    %td.em_h20{:height => "25", :style => "height:25px; font-size:1px; line-height:1px;"}  
                  -#%tr
                    %td{:bgcolor => "#efefef", :height => "1", :style => "height:1px; background-color:#efefef; font-size:0px; line-height:0px;"}
                      %img{:alt => "", :border => "0", :height => "1", :src => "/assets/pilot/images/templates/spacer.gif", :style => "display:block;", :width => "1"}/
                  %tr
                    %td{:align => "right", :valign => "top"}
                      %table{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                        %tr
                          %td  
                          %td.em_grey{:align => "right", :style => "font-family: Arial, sans-serif; font-size: 16px; line-height: 20px; color:#434343; width:100px; font-weight:bold;", :valign => "top", :width => "100"} Total
                          %td{:style => "width:20px; font-size:0px; line-height:0px;", :width => "20"}
                          %td.em_grey{:align => "right", :style => "font-family: Arial, sans-serif; font-size: 16px; line-height: 20px; color:#434343; width:100px; font-weight:bold;", :valign => "top", :width => "100"} $5.000
                  %tr
                    %td.em_h10{:height => "36", :style => "height:36px;"}  
    %table.em_full_wrap{:align => "center", :bgcolor => "#efefef", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td{:align => "center", :valign => "top"}
          %table.em_main_table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width:650px; table-layout:fixed;", :width => "650"}
            %tr
              %td.em_aside10{:align => "center", :style => "padding:0 25px;", :valign => "top"}
                %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td.em_h20{:height => "40", :style => "height:40px;"}  
                  %tr
                    %td{:align => "center", :valign => "top"}
                      -#able{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                        %tr
                          %td{:align => "center", :style => "width:30px;", :valign => "middle", :width => "30"}
                            %a{:href => "#", :style => "text-decoration:none;", :target => "_blank"}
                              %img{:alt => "Fb", :border => "0", :height => "30", :src => "/assets/pilot/images/templates/fb.png", :style => "display:block; font-family:Arial, sans-serif; font-size:18px; line-height:25px; text-align:center; color:#000000; font-weight:bold; max-width:30px;", :width => "30"}/
                          %td{:style => "width:12px;", :width => "12"}  
                          %td{:align => "center", :style => "width:30px;", :valign => "middle", :width => "30"}
                            %a{:href => "#", :style => "text-decoration:none;", :target => "_blank"}
                              %img{:alt => "Tw", :border => "0", :height => "30", :src => "/assets/pilot/images/templates/tw.png", :style => "display:block; font-family:Arial, sans-serif; font-size:14px; line-height:25px; text-align:center; color:#000000; font-weight:bold; max-width:30px;", :width => "30"}/
                          %td{:style => "width:12px;", :width => "12"}  
                          %td{:align => "center", :style => "width:30px;", :valign => "middle", :width => "30"}
                            %a{:href => "#", :style => "text-decoration:none;", :target => "_blank"}
                              %img{:alt => "Insta", :border => "0", :height => "30", :src => "/assets/pilot/images/templates/insta.png", :style => "display:block; font-family:Arial, sans-serif; font-size:14px; line-height:25px; text-align:center; color:#000000; font-weight:bold; max-width:30px;", :width => "30"}/
                  %tr
                    %td{:height => "16", :style => "height:16px; font-size:1px; line-height:1px; height:16px;"}  
                  %tr
                    %td.em_grey{:align => "center", :style => "font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; color:#434343; font-weight:bold;", :valign => "top"} ¿Consultas?
                  %tr
                    %td{:height => "10", :style => "height:10px; font-size:1px; line-height:1px;"}  
                  %tr
                    %td{:align => "center", :style => "font-size:0px; line-height:0px;", :valign => "top"}
                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                        %tr
                          %td{:align => "left", :style => "font-size:0px; line-height:0px; width:15px;", :valign => "middle", :width => "15"}
                            %a{:href => "mailto:soporte@alectrico.cl", :style => "text-decoration:none;"}
                              = image_tag('/img/alectrico_60_40.png', :alt => "", :border => "0", :height => "12", :style => "display:block; max-width:15px;", :width => "15")
                          -#%td.em_w5{:style => "width:9px; font-size:0px; line-height:0px;", :width => "9"}
                            %img{:alt => "", :border => "0", :height => "1", :src => "/assets/pilot/images/templates/spacer.gif", :style => "display:block;", :width => "1"}/
                          %td.em_grey.em_font_11{:align => "left", :style => "font-family: Arial, sans-serif; font-size: 13px; line-height: 15px; color:#434343;", :valign => "middle"}
                            %a{:href => "mailto:soporte@alectrico.cl", :style => "text-decoration:none; color:#434343;"} consulta@alectrico.cl
                            %a{:href => "mailto:soporte@alectrico.cl", :style => "text-decoration:none; color:#434343;"} [mailto:consulta@alectrico.cl]
                  %tr
                    -#%td.em_h10{:height => "9", :style => "font-size:0px; line-height:0px; height:9px;"}
                      %img{:alt => "", :border => "0", :height => "1", :src => "/assets/pilot/images/templates/spacer.gif", :style => "display:block;", :width => "1"}/
                  %tr
                    %td{:align => "center", :valign => "top"}
                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                        %tr
                          %td{:align => "left", :style => "font-size:0px; line-height:0px; width:12px;", :valign => "middle", :width => "12"}
                            %a{:href => "#", :style => "text-decoration:none;", :target => "_blank"}
                              = image_tag('/img/alectrico_60_40.png', :alt => "", :border => "0", :height => "12", :style => "display:block; max-width:15px;", :width => "15")
                          %td.em_w5{:style => "width:7px; font-size:0px; line-height:0px;", :width => "7"}  
                          %td.em_grey.em_font_11{:align => "left", :style => "font-family: Arial, sans-serif; font-size: 13px; line-height: 15px; color:#434343;", :valign => "middle"}
                            %a{:href => "#", :style => "text-decoration:none; color:#434343;", :target => "_blank"} alectrico.cl
                            • Desde 2013 • Santiago, RM
                  %tr
                    %td.em_h20{:height => "35", :style => "height:35px;"}  
            %tr
              -#%td{:bgcolor => "#dadada", :height => "1", :style => "font-size:0px; line-height:0px; height:1px;"}
                %img{:alt => "", :border => "0", :height => "1", :src => "/assets/pilot/images/templates/spacer.gif", :style => "display:block;", :width => "1"}/
            %tr
              %td.em_aside10{:align => "center", :style => "padding:0 25px;", :valign => "top"}
                %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td{:height => "16", :style => "font-size:0px; line-height:0px; height:16px;"}  
                  %tr
                    %td{:align => "center", :valign => "top"}
                      %table.em_wrapper{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                        %tr
                          %td.em_grey{:align => "center", :style => "font-family: Arial, sans-serif; font-size: 11px; line-height: 16px; color:#434343;", :valign => "middle"}
                            Este correo fue enviado desde mailgun.com bajo el amparo legal que corresponde al envío de correspondencia no solicitada. Derecho que está plenamente permitido en Chile pero que debe ejercerse proporcionando un link para que Ud. pueda desenergizar ese servicio. Es el que sigue:
                            %a{:href => desuscribeme_electrico_desuscripcion_url(@user.desuscripcion_token), :style => "text-decoration:underline; color:#434343;", :target => "_blank"} Clique aquí para dejar de recibir más correos de #{@url}.
                  %tr
                    %td{:height => "16", :style => "font-size:0px; line-height:0px; height:16px;"}  
            %tr
              -#%td.em_hide{:style => "line-height:1px;min-width:650px;background-color:#efefef;"}
                %img{:alt => "", :border => "0", :height => "1", :src => "/assets/pilot/images/templates/spacer.gif", :style => "max-height:1px; min-height:1px; display:block; width:650px; min-width:650px;", :width => "650"}/
